
<h1>
    Filtre sur Bernard Lonclas
</h1>
<form>
    <input type="datetime-local" placeholder="Date d'achat" />
    <input type="text" placeholder="Mode de paiement" />
    <select>
        <option>Bernard Lonclas</option>
        <option>Jules Félix</option>
        <option>Matéo Fievet</option>
    </select>
    <select multiple>
        <option>Compact bombette rouge</option>
        <option>Compact bombette vert</option>
        <option>Compact bombette bleu</option>
        <option>Compact bombette rose</option>
        <option>Compact bombette orange</option>
        <option>Compact bombette blanc</option>
    </select>
    <input type="submit" value="Ajouter" />
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Date et heure d'achat</th>
        <th>Mode de paiement</th>
        <th>Produits achetés</th>
        <th>Client</th>
        <th>Actions</th>
    </tr>
    <!-- <tr class="red">
        <td>1</td>
        <td>12/07/2022 14h35</td>
        <td>Carte bleu</td>
        <td>12x Compact bombette rouge</td>
        <td>Jules Félix</td>
        <td class="vertical">
            <a href="#">Client</a>
        </td>
    </tr>
    <tr class="green">
        <td>2</td>
        <td>9/07/2022 10h12</td>
        <td>Espèce</td>
        <td class="vertical">
            <span>2x Compact bombette rouge,</span>
            <span>1x Compact bombette rose</span>
        </td>
        <td>Romain Drouet</td>
        <td class="vertical">
            <a href="#">Client</a>
        </td>
    </tr> -->
    <tr class="red">
        <td>3</td>
        <td>2/07/2022 17h45</td>
        <td>Espèce</td>
        <td>5x Compact bombette rouge</td>
        <td>Bernard Lonclas</td>
        <td class="vertical">
            <a href="#">Client</a>
        </td>
    </tr>
</table>