<form>
    <input type="text" placeholder="Nom" />
    <input type="text" placeholder="Prénom" />
    <input type="date" placeholder="Date de naissance" />
    <input type="text" placeholder="Lieu de naissance" />
    <input type="submit" value="Ajouter" />
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Validé</th>
        <th>Document identité</th>
        <th>Type document identité</th>
        <th>Numéro document identité</th>
        <th>Autorité de délivrance</th>
        <th>Date de délivrance</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Lieu de naissance</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Oui</td>
        <td><a href="#">Télécharger</a></td>
        <td>Carte d'identité</td>
        <td>160151301129</td>
        <td>Préfécture de Reims</td>
        <td>20/07/2018</td>
        <td>Félix</td>
        <td>Jules</td>
        <td>15/12/1999</td>
        <td>Reims-la-Brulée</td>
        <td class="vertical">
            <a href="#">Achats</a>
            <a href="#">Modifier</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Non</td>
        <td>Néan</td>
        <td>Néan</td>
        <td>Néan</td>
        <td>Néan</td>
        <td>Néan</td>
        <td>Fievet</td>
        <td>Matéo</td>
        <td>26/04/1999</td>
        <td>Vitry-le-François</td>
        <td class="vertical">
            <a routerLink="validate">Validation</a>
            <a href="#">Modifier</a>
        </td>
    </tr>
</table>