<form>
    <input type="text" placeholder="Dénomination" />
    <input type="text" placeholder="Lien vers la photo" />
    <input type="text" placeholder="Agrément" />
    <input type="text" placeholder="Matière active en kg" />
    <input type="text" placeholder="Catégorie" />
    <input type="submit" value="Ajouter" />
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Dénomination</th>
        <th>Photo</th>
        <th>Agrément</th>
        <th>Matière active</th>
        <th>Catégorie</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Compact bombette rouge</td>
        <td class="small"><img src="https://www.jacques-prevot.fr/client/cache/produit/400_400____1_000000_compact-25-tirs-blanc-30mm_5104.jpg"/></td>
        <td>1646-f2-201-056-03</td>
        <td>0.457 Kg</td>
        <td>F2</td>
        <td><a href="#">Modifier</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Compact bombette vert</td>
        <td class="small"><img src="https://www.jacques-prevot.fr/client/cache/produit/400_400____1_000000_compact-25-tirs-blanc-30mm_5104.jpg"/></td>
        <td>1646-f2-201-056-08</td>
        <td>0.457 Kg</td>
        <td>F2</td>
        <td><a href="#">Modifier</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Compact bombette bleu</td>
        <td class="small"><img src="https://www.jacques-prevot.fr/client/cache/produit/400_400____1_000000_compact-25-tirs-blanc-30mm_5104.jpg"/></td>
        <td>1646-f2-201-056-06</td>
        <td>0.457 Kg</td>
        <td>F2</td>
        <td><a href="#">Modifier</a></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Compact bombette rose</td>
        <td class="small"><img src="https://www.jacques-prevot.fr/client/cache/produit/400_400____1_000000_compact-25-tirs-blanc-30mm_5104.jpg"/></td>
        <td>1646-f2-201-056-02</td>
        <td>0.457 Kg</td>
        <td>F2</td>
        <td><a href="#">Modifier</a></td>
    </tr>
    <tr>
        <td>5</td>
        <td>Compact bombette orange</td>
        <td class="small"><img src="https://www.jacques-prevot.fr/client/cache/produit/400_400____1_000000_compact-25-tirs-blanc-30mm_5104.jpg"/></td>
        <td>1646-f2-201-056-01</td>
        <td>0.457 Kg</td>
        <td>F2</td>
        <td><a href="#">Modifier</a></td>
    </tr>
    <tr>
        <td>6</td>
        <td>Compact bombette blanc</td>
        <td class="small"><img src="https://www.jacques-prevot.fr/client/cache/produit/400_400____1_000000_compact-25-tirs-blanc-30mm_5104.jpg"/></td>
        <td>1646-f2-201-056-09</td>
        <td>0.457 Kg</td>
        <td>F2</td>
        <td><a href="#">Modifier</a></td>
    </tr>
</table>